.pie{
    width: 300px;
    background-color: #f2f5f9;
}
.horibar{
    width: 300px;
    background-color: #f2f5f9;
}
.horibar canvas{
    height: 100%;
}
.chartscontainer{
    display: flex;
    justify-content: center;
    gap: 30px;
    
}
.stats{
    width: 300px;
    background-color: #f2f5f9;
    text-align: center;
}
#totalEx, #avpday{
    color: #10cfaf;
    font-size: 40px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}
.toth, .avgh{
    color : #5f5f5f;
    margin-top: 0;
    margin-bottom: 10px;
}
.lbcontainer{
    display: flex;
}
.line, .bar{
    background-color: #f2f5f9;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 0px;
}